// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Variables
spacing = 12px

josefin = 'Josefin Slab', arial, serif
swanky = 'Swanky and Moo Moo', arial, serif

dropshadow = 0px 1px 2px #444
dropshadow-light = 0px 1px 2px #ddd
dropshadow-dark = 0px 1px 2px #000
dropshadow-down = 0px 1px 1px #777

blue-background = #dbfbfe

blue-dark = #049bb4
blue-med = #12a8c1
blue-light = #06e0f4

orange-button = #ffc924
orange-hover = #ffd659

red-button = #fd553a
red-hover = #fe6d55
red-disabled = #fde7f0

gray-button = #f9f9f9

// Main

body, html
	height 100%

body
	background blue-background
	font-family josefin
	
strong
	font-weight 600
	
h1
	font-size 4.6em
	font-weight 700

h1 span
	font-weight 300

h2
	font-size 3.2em
	font-weight 300

h3
	font-size 2.4em

h4
	font-size 1.3em
	font-weight 300
	
input, textarea
	font-family josefin
	font-size 1em
	border 1px solid #eee
	color #666
	padding 8px
	padding-bottom 4px

textarea
	resize: none
	
input:focus, textarea:focus
	outline none
	border 1px dotted blue-light

#header-wrapper
	background white
	
#header
	height 94px
	width 975px
	margin 0 auto
	position relative

#header h1
	position absolute
	top 10px

#header h4
	color #6c6969
	position absolute
	top 54px
	left 314px

#header #beta
	position absolute
	color orange-button
	font-family swanky
	font-size 3em
	z-index 20
	left 218px
	top 52px
	font-weight bold

#subheader-wrapper
	background white
	round 10px
	width 974px
	margin 0 auto
	margin-top spacing
	
#subheader
	padding 10px
	text-align center
	font-weight 100

#subheader a
	font-weight bold
	color blue-med

#subheader span
	font-size .8em
	
#subheader a:hover
	cursor pointer
	color blue-dark
	text-shadow 1px 1px 0px #ddd
	
#feedback
	display none
	right 20px
	color white
	text-shadow 1px 1px 0px #444
	text-align center
	font-size 1.2em
	top 0px
	background blue-med
	padding 14px 20px
	round-corner bottom, right, 10px
	round-corner bottom, left, 10px
	box-shadow dropshadow
	position absolute
	font-family swanky

#feedback:hover
	background blue-dark
	cursor pointer
	box-shadow dropshadow-dark
	color #fff6df

#feedback:hover strong
	color orange-hover
	
#feedback strong
	color #fff6df
	
#page-wrapper
	width 974px
	margin 0 auto
	
#page > div
	float left

#main-wrapper
	width 510px
	padding 0 spacing
	margin-top spacing
	
.column-wrapper
	width 220px
	margin-top spacing

button
	box-shadow dropshadow
	padding 12px
	round 6px
	text-align center
	font-family josefin
	font-size 1.6em
	border none

button > div
	height 28px
	
button:hover
	cursor pointer
	box-shadow dropshadow-dark

button:active
	box-shadow dropshadow-down
	margin-top 1px
	
button:disabled
	cursor default
	box-shadow dropshadow
	
.orange-button
	background orange-button
	
.orange-button:hover
	background orange-hover
	
.gray-button
	background gray-button

.gray-button:hover
	background #eee
	
#stage-wrapper
	round 8px
	padding 10px
	height 405px
	background white
	margin-bottom spacing

#publisher-wrapper
	margin-top 10px
	width 490px
	height 350px
	
.publisher-object
	round 10px

#voter-wrapper
	round 8px
	height 128px
	background white

#voter
	position relative
	
#timer-wrapper
	round 8px
	background white
	margin-bottom spacing
	display none

#timer
	position relative

#timer-message
	font-family swanky
	text-align center
	font-size 1.8em
	padding-top 6px
	padding-bottom 4px
	color #444
	display none

.time
	position absolute
	color #aaa
	font-size .8em
	bottom 7px
	
#time-passed
	text-align left
	left 10px
	
#time-total
	text-align right
	right 10px
	
#time-bar-wrapper
	padding 8px 40px

#time-bar
	height 12px
	round 6px
	width 20%

#time-bar.perform
	background blue-dark

#time-bar.stage
	background #ff5432

#lame-button-wrapper, #awesome-button-wrapper
	width 236px
	height 106px
	position absolute
	padding 0px
	round 10px
	top 12px
	font-size 1.9em
	font-weight 600

#lame-button-wrapper
	background red-button
	left 12px
	
#lame-button-wrapper:hover
	background red-hover

#lame-button-wrapper:disabled
	background red-disabled
	color #666
	
#awesome-button-wrapper
	background #56d050
	right 12px
	
#awesome-button-wrapper:hover
	background #65ea5f

#awesome-button-wrapper:disabled
	background #edfde7
	color #666
	
#leave-queue-button-wrapper
	font-size 1.5em
	display none

.vote-button
	position relative
	height 106px
	
.vote-button > span
	position absolute
	top 40px
	left 96px
	
.vote-button .thumb
	position absolute
	width 66px
	height 81px
	top 12px
	left 16px
	
#awesome-button-wrapper .thumb
	background url('/images/thumbs-up.png') no-repeat

#awesome-button-wrapper:disabled .thumb
	background url('/images/thumbs-up-disabled.png') no-repeat

#lame-button-wrapper .thumb
	background url('/images/thumbs-down.png') no-repeat

#lame-button-wrapper:disabled .thumb
	background url('/images/thumbs-down-disabled.png') no-repeat

.column > div
	background white
	padding 10px
	margin-bottom spacing
	round 10px

.column h4, #main-wrapper h4
	font-style italic
	round 6px
	padding 12px
	background #fdfdfd
	box-shadow dropshadow-light
	color #333
	
#queue-list
	margin 12px 10px
	font-size 1.2em
	color #ccc
	height 92px

#queue-list.empty
	height 16px

#rock-mic-button-wrapper
	width 100%

#messages
	margin-top 6px
	overflow auto
	overflow-y auto
	overflow-x hidden
	height 210px

#messages.empty
	height 284px

#messages.performing
	height 354px
	
#enter_chat_text
	margin-left 4px
	margin-top 8px
	round 6px

#messages .message
	font-size .8em
	padding 4px
	round 4px
	margin 2px 0
	
.message .speaker
	font-weight bold

.alert
	font-size .8em
	font-weight bold
	padding 4px
	round 4px
	margin 2px 0
	background orange-hover

.message .text
	color #777
	
#messages .message:nth-child(odd)
	background #f7f7f7
	
#performer #nobody-on-stage
	margin 12px 10px
	font-size 1.5em
	color #ccc

#performer #but-you
	color #e6e6e6
	margin-top 5px
	display block
	font-size .88em

#performer #could-be
	cursor pointer
	color orange-hover

#performer #could-be:hover
	color orange-button
	border-bottom 1px dotted orange-button

#performer #performer-info
	display none
	font-family swanky
	margin-top 12px
	round 8px
	padding 8px
	border 1px dashed #eee

#performer #performer-name
	font-size 2.2em

#performer #performer-description
	margin-top 8px
	font-size 1.4em
	color blue-dark
	
.modal-wrapper h4
	color #bbb

.modal-wrapper form
	margin 20px 0
	font-size 1.4em
	color #ccc

.form-button-wrapper
	clear both
	position relative
	height 52px

.form-item
	margin 16px 8px
	
.form-item label
	display block
	margin-bottom 4px

.form-item input
	width 300px

.form-item textarea
	width 472px
	
.form-item span.required
	color #ff6969
	margin-left 4px

#enter-name-button-wrapper
	position absolute
	bottom 0px
	left 0px
	width 140px
	
#join-queue-button-wrapper
	position absolute
	bottom 0px
	right 134px
	width 190px

#cancel-queue-button-wrapper
	position absolute
	bottom 0px
	right 0px
	width 100px
	
#performance-plot
	height 100px
	margin-top 12px
	round 8px
	padding 8px
	border 1px dashed #eee

#performance-rating-wrapper
	display none

#performance-plot .jqplot-series-canvas
	background white
.overlay
	position relative

.overlay > *
	position absolute
	font-family swanky
	z-index 10

#empty-overlay #silhouette-wrapper
	z-index 5
	round 10px
	border 1px dashed #eee
	width 490px
	height 350px
	left 242px
	top 76px

#empty-overlay #silhouette
	position relative
	
#empty-overlay #silhouette-img
	position absolute
	background url('/images/silhouette.png') no-repeat
	width 266px
	height 319px
	left 16px
	top 31px

#empty-overlay #perform-live
	text-align center
	font-size 2.6em
	color #444
	top 116px
	left 404px
	line-height .8em
	
#empty-overlay #perform-live span
	display block

#empty-overlay #no-registration
	letter-spacing 0.1em
	color #ccc
	font-size 1.2em
	top 188px
	left 464px

#empty-overlay #arrow-img
	width 197px
	height 86px
	left 580px
	top 162px
	background url('/images/arrow.png') no-repeat

#access-overlay
	display none

#access-overlay #arrow-up-img
	width 70px
	height 129px
	left 434px
	top 320px
	background url('/images/arrow-up.png') no-repeat
	
#access-overlay #press-allow
	text-align center
	font-size 2.6em
	color #fff
	top 100px
	left 270px
	line-height .8em

#access-overlay #asking-access
	letter-spacing 0.1em
	color #ccc
	font-size 1.2em
	top 144px
	left 290px