#lrcontent {
	background: none;
	font-family: 'Josefin Slab', arial, serif; !important
	font-size: 1.2em;
	color: #444; !important
}

#lrcontent #invitelist em {
	font-size: 2.2em;
	color: #444;
	font-family: 'Josefin Slab', arial, serif;
}

#lrcontent #email {
	font-family: 'Josefin Slab', arial, serif;
	font-size: 1.6em;
	border: 1px solid #eee;
	color: #666;
}
	
#lrcontent #email:focus {
	border: 1px dotted #06e0f4;
}