#connecting-modal.reveal-modal.large.down
  #connecting-wrapper
    #connecting-message
      #connecting-logo-wrapper
        #connecting-logo.logo
          h1 Showjo
            span .tv
          .beta beta
      p 
        | Connecting to the 
        strong show
        | &#8212;hang tight!
    #timeout 
      p Hey, there was a 
        span.required problem 
        | #{"connecting :(."}
      p Try using a different browser like 
        a(href='http://www.google.com/chrome/') Chrome
        |  or 
        a(href='http://www.apple.com/safari/') Safari
        | .
