#enter-name-modal.reveal-modal.medium
  .modal-wrapper
    h3 
      strong Hey
      | , what's your name?
    h4 Tell everyone your name if you want to chat
    form
      .form-item.text
        label(for='user_chat_name') Your name:
        input(type='text', name='user_chat_name', id='user_chat_name')  
    .form-button-wrapper 
      button#enter-name-button-wrapper.orange-button
        #enter-name-button
          span 
          strong Enter                                                                                    
